body {
  background: papayawhip;
  font-family: Helvetica Neue, sans-serif;
}

.container {
  width: 740px;
  margin: auto;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

/* --- Contact List --- */

.contact-list {
  margin-top: 20px;
  padding-left: 0;
}

.contact-list__contact {
  background-color: ivory;
  list-style: none;
  padding: 20px;
  margin-bottom: 20px;
  padding-top: .1px;
}

.contact-list__contact__email, .contact-list__contact__phone {
  width: 50%;
  display: inline-block;
}

.contact-list__contact__phone {
  text-align: right;
}

label {
  font-weight: bold;
  margin-right: 0.4em;
}

a, a:visited {
  color: darkslategray;
  text-decoration: none;
}

a:hover, a:focus {
  padding-bottom: 0.2em;
  border-bottom: 2px solid darkslategray;
}

/*
.contact-list, .new-contact {
  position: relative;
  margin: 0;
  padding: 10px;
}

.new-contact input {
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
}

.new-contact__name {
  width: 100%;
  margin-bottom: 10px;
}

.new-contact__email, .new-contact__phone {
  width: 290px;
  margin-right: 10px;
}

.new-contact button {
  padding: 10px;
  font-size: 1.2em;
  background-color: darkturquoise;
  border: none;
  width: 100px;
}






